.topic_base{
  width: 100%;
  height: 120px;
  float: left;
  background:#d1ebd0;
}

.topic{
  width: 960px;
  height: 120px;
  margin: 0px auto;
  background:url(../image/illustration/topic_banner.png) no-repeat;
}

.topic_titile{
  width: 200px;
  height: 60px;
  padding-bottom: 10px;
  float: left;
  margin-top: 50px;
  background: url(../image/illustration/topic.jpg);
}

.topic_titile span{
  width: 180px;
  height: 20px;
  padding-top: 15px;
  line-height: 20px;
  float: left;
  font-family: "微软雅黑";
  font-size: 20px;
  color: #DDD;
  padding-left: 20px;
  font-weight: 100;
}

.topic_titile div{
  width: 180px;
  height: 20px;
  padding-bottom: 5px;
  line-height: 20px;
  float: left;
  font-size: 14px;
  color: #FFF;
  padding-left: 10px;
  font-family: "微软雅黑";
  padding-left: 20px;
  letter-spacing: 0.1em;
}


.content_base{
  width: 100%;
  height: auto;
  float: left;
}

.content{
  width: 960px;
  min-height: 400px;
  height: auto;
  margin: 0px auto;
}

.sub_nav{
  width: 200px;
  background: url(/assets/background.jpg);
  height: 300px;
  float: right;
  position: relative;
  margin-bottom: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

#major{
  padding: 19px;
  margin-bottom: 20px;
  background-color: whiteSmoke;
  border: 1px solid #E3E3E3;
  -webkit-border-radius: 4px;
}

#sidebar-right{
  padding: 19px;
  margin-bottom: 20px;
  background-color: whiteSmoke;
  border: 1px solid #E3E3E3;
  -webkit-border-radius: 4px;
}

.pos-date{
  height: 47px;
  width: 47px;
  margin-right: 10px;
  color: #ffffff;
  background: url(/assets/date_bg.png) 0 0 no-repeat;
  float: left;
}

.month {
  margin-top: 1px;
  margin-left: 14px;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  text-shadow: 0px 2px 1px black;
}

.pos-title {
  margin: 0px 0px 20px 0px;
  font-size: 27px;
  font-weight: normal;
  line-height: 47px;
  color: #646464;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.day {
  margin-top: 3px;
  font-size: 28px;
  margin-left: 9px;
  line-height: 28px;
  letter-spacing: -2px;
  font-weight: bold;
  margin-bottom: 1px;
  text-shadow: 0px 2px 2px black;
}

.sub_nav ul{
  padding: 0px;
  margin: 0px;
  list-style: none;
  float: left;
  margin-top: 10px;\
  font-family: "微软雅黑";
}

.sub_nav ul a{
  text-decoration: none;
}

.sub_nav ul a li{
  width: 200px;
  height: 36px;
  margin-top: 1px;
  background: url(../image/illustration/sub_nav1.jpg) no-repeat;
  line-height: 36px;
  text-decoration: none;
  /*color: #FFF;*/
  text-indent: 3em;
}

.sub_nav ul a li:hover{
    background: url(../image/illustration/sub_nav3.jpg) no-repeat;
}


.sub_nav_active{
    background: url(../image/illustration/sub_nav2.jpg) no-repeat;
    color: #266500;
}

.sub_content{
  /*width: 730px;*/
  /*padding-left: 30px;*/
  float: left;
  height: auto;
  padding-bottom: 100px;
}

.list-title{
  border-bottom: 1px solid #EEE;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.sub_content_show{
  float: left;
  height: auto;
  width: 100%;
  padding-bottom: 50px;
}
.menu li{
  margin: 0 0 10px 0;
}
.sub_address{
  width: 100%;
  height: 36px;
  padding-top: 10px;
  float: left;
  border-bottom: #EEE 1px solid;
}

.sub_address span{
  height: 36px;
  float: left;
  line-height: 36px;
  width: 230px;
  color:#999;
  text-align: left;
  font-size: 22px;
  font-family: "微软雅黑";
  letter-spacing: 0.1em;
}
.sub_address div{
  height: 25px;
  width: 500px;
  padding-top: 11px;
  line-height: 25px;
  float: left;
  text-align: right;
  color: #999;
  font-size:12px;
  
}

.sub_address div a{
  color:#266500;
  text-decoration: none;
  padding-left: 3px;
  
  padding-right: 3px;
}

.sub_address div a:hover{
  text-decoration: underline;
}

.sub_address div p{
  padding:0px;
  margin:0px;
  padding-left: 3px;
  padding-right: 3px;
  height: 25px;
  line-height: 25px;
}

.sub_pag{
  width: 100%;
  height: auto;
  float: left;
}





.news_list{
  width: 100%;
  height: 0px;
}

.news_list ul{
  list-style: none;
    padding: 0px;
  margin: 0px;
}


.news_list ul li{
  width: 100%;
  height: auto;
}

.news_list ul li span{
  width: 100%;
  float: left;
  height: 30px;
  line-height: 36px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.news_list ul li span span{
  width: 650px;
  height: 30px;
  line-height: 30px;
  float: left;
}

.news_list ul li span span a{
  line-height: 30px;
  font-size: 16px;
  color: #009854;
  font-family:"微软雅黑";
  text-decoration: none;
}


.news_list ul li span div{
  width: 140px;
  height: 25px;
  float: right;
  line-height: 25px;
  padding-top:5px;
}

.news_list ul li span div font{
  line-height: 25px;
  color: #999;
  text-align: right;
}

.news_list ul li div{
  width: 730px;
  height: auto;
  float: left;
  font-size: 13px;
  line-height: 30px;
  color: #666;
}

